
@{
    ViewData["Title"] = "Bilgiler";
    Layout = "~/Views/Shared/_LayoutYonetici.cshtml";
}

<h2 class="text-center">Selçuk Elektromobil İnternet Sitesi</h2>
<hr />

<div class="row">
    <div class="col-md-12 mb-2">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Bilgilendirme Ekranı</h6>
            </div>
            <div class="card-body">
                <p>
                    Bu ekranda internet sitesinin genel çalışma mantığı ve kullanımı ile ilgili bilgiler bulunmaktadır. Herhangi bir kafa karışıklığı durumunda kullanılması üzere tasarlanmıştır.
                </p>
                <p>
                    İnternet sitesi Selçuk Elektromobil takımının çalışmalarını diğer insanlar ile paylaşma isteğinin sonucu olarak Aralık 2019 tarihinde geliştirilmiştir.
                </p>
                <p>
                    İnternet sitesi arkaplanda .Net Core Mvc 2.0 kullanılarak geliştirilmiş olup verilerin saklanması için Saklambac.Core kütüphanesi kullanılmıştır.
                </p>
                <p>
                    İnternet sitesindeki tasarımlar bootstrap themes üzerinden alınmış ve düzenlenmiştir.
                </p>
                <p class="text-center">
                    <b>Oluşabilecek Bütün Durumlar İçin İletişim Adresi :</b> kurnaz.berke1907@gmail.com
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 mb-2">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Ekibimiz Sayfası</h6>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="~/LayoutAdmin/img/undraw_posting_photo.svg" alt="">
                </div>
                <p>Add some quality, svg illustrations to your project courtesy of <a target="_blank" rel="nofollow" href="https://undraw.co/">unDraw</a>, a constantly updated collection of beautiful svg images that you can use completely free and without attribution!</p>
                <a target="_blank" rel="nofollow" href="https://undraw.co/">Browse Illustrations on unDraw →</a>
            </div>
        </div>
    </div>

    <div class="col-md-6 mb-2">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Haberler Sayfası</h6>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="~/LayoutAdmin/img/undraw_posting_photo.svg" alt="">
                </div>
                <p>Add some quality, svg illustrations to your project courtesy of <a target="_blank" rel="nofollow" href="https://undraw.co/">unDraw</a>, a constantly updated collection of beautiful svg images that you can use completely free and without attribution!</p>
                <a target="_blank" rel="nofollow" href="https://undraw.co/">Browse Illustrations on unDraw →</a>
            </div>
        </div>
    </div>
</div>
