@model User
@{
    ViewData["Title"] = "Guncelle";
    Layout = "~/Views/Shared/_LayoutYonetici.cshtml";
}

<div class="card">
    <div class="card-heading border bottom">
        <br />
        <h4 class="card-title text-center">Kullanıcı Güncelle</h4>
    </div>
    <div class="card-block">
        <div class="row">
            <div class="col-md-9 ml-auto mr-auto">
                <form asp-controller="YoneticiKullanici" asp-action="Guncelle" asp-route-Id="@Model.Id" method="post" enctype="multipart/form-data" class="form-horizontal mrg-top-40 pdd-right-30 ng-pristine ng-valid">
                    <div class="form-group">
                        <br />
                        <label>Kullanıcı Adı</label>
                        <input type="text" class="form-control kontrol" asp-for="Username" value="@Model.Username" required>
                    </div>
                    <div class="form-group">
                        <label>Şifre</label>
                        <input type="text" class="form-control kontrol" asp-for="Password" value="@Model.Password" required>
                    </div>

                    <center><button type="submit" class="btn btn-success"><i class="fa fa-wrench" aria-hidden="true"></i> Kullanıcı Güncelle</button></center><br />
                </form>
            </div>
        </div>
    </div>
</div>


